= form_for @session, :url => login_path, :html => {:class => "separate-sections"} do |f|
  = f.block_for :login, :class => "input-prepend" do
    = f.text_field :login, :placeholder => "User login"
    = f.error_for :login

  = f.block_for :password, :class => "input-prepend" do
    = f.password_field :password, :placeholder => "Password"
    = f.error_for :password

  = f.submit "Login", :class => "btn btn-default"
