- if suites.respond_to? :current_page
  = paginate suites
- if suites.all.count > 0
  %table.table.table-condensed.table-hover
    %thead
      %tr
        %th= sortable(:build)
        %th= sortable(:total_tests, "Tests")
        %th= sortable(:total_errors, "Errors")
        %th= sortable(:total_failures, "Failures")
        %th= sortable(:total_skip, "Skip")
        %th= sortable(:total_passed, "Passed")
        - if current_user
          %th User
        - unless defined? @project
          %th Project
        %th= sortable(:created_at, "Posted")
        %th Actions
    %tbody
      - suites.each do |suite|
        %tr
          %td
            = link_to suite.build, project_suite_path(suite.project_id, suite)
            - if suite.features.all.any?
              %br
              - suite.features.each do |feature|
                %span.label{:class => (params[:feature] == feature.to_s ? "label-success" : "label-default")}= feature
          %td= suite.total_tests
          %td= suite.total_errors
          %td= suite.total_failures
          %td= suite.total_skip
          %td= suite.total_passed
          - if current_user
            %td= link_to suite.user.name, user_path(suite.user)
          - unless defined? @project
            %td= suite.project ? link_to(suite.project.name, project_path(suite.project)) : ""
          %td= l(suite.created_at, :format => "%H:%M / %d.%m.%Y")
          %td.text-right{:style => "width: 1%;", :nowrap => true}
            - if defined? buttons
              = render buttons, :suite => suite
            - else
              = render "suites/buttons", :suite => suite
- else
  %p.well.text-center{:style => "margin-top: 20px;"}
    No suites
- if suites.respond_to? :current_page
  = paginate suites

