= render "projects/header", :project => @project
.tab-content-border
  %ul.nav.nav-tabs
    %li{:class => ("active" if params[:controller]=="projects")}
      = link_to "Overview", project_path(@project)
    %li{:class => ("active" if params[:controller]== "suites")}
      = link_to "Suites", project_suites_path(@project)
  .tab-content
    .tab-pane.active
      .content-inside
        .feature-filter
          - if @project.all_features.any?
            = link_to "all", project_suites_path(@project), :class => "btn btn-xs #{params[:feature].present? ? "btn-default" : "btn-success"}"
            - @project.all_features.each do |feature|
              = link_to feature.name, project_suites_path(@project, :feature => feature.name), :class => "btn btn-xs #{params[:feature] != feature.name ? "btn-default" : "btn-success"}"
        = render "suites", :suites => @suites, :columns => [:suite, :tests, :errors, :failures, :skipped, :passed, :user, :bugs, :tests, :created]