%h4
  Suites
  - if can? :create, Suite
    .btn-group.pull-right
      %button.btn.btn-default.dropdown-toggle{:data => {:toggle => "dropdown"}}
        Add suite to
        %span.caret
      %ul.dropdown-menu{:role=>"menu"}
        - Project.all.each do |project|
          %li= link_to project.name, new_project_suite_path(project)

- if @features.all.any?
  %h5
    Feature filter:
    = link_to "all", suites_path, :class => "tag label #{params[:feature].present? ? "label-info" : "label-success"}"
    - @features.each do |feature|
      = link_to feature.name, suites_path(:feature => feature.name), :class => "tag label #{params[:feature] != feature.name ? "label-info" : "label-success"}"

= render "suites", :suites => @suites