.single-form
  %h2.text-center
    New suite
  .well
    = form_for @suite, :url => suites_path, :html => {:class => "separate-sections"} do |f|
      = f.error_for_base :p, :class => "text-center"

      = f.block_for :build, :class => "form-group" do
        = f.label :build
        = f.error_for :build
        = f.text_field :build, :class => "form-control"

      = f.block_for :tempest, :class => "form-group" do
        = f.label :tempest
        = f.error_for :tempest
        = f.file_field :tempest
      = f.submit "Submit", :class => "btn btn-block btn-success"
