=render "header", :project => @project, :suite => @suite

.masthead
  %ul.nav.nav-justified
    %li.search-tab
      %input.typeahead{:placeholder=>"Tap to search test", :autocomplete=>"off", :spellcheck=>"false", :dir=>"auto", :data => {:source => search_project_suite_path(@suite.project_id,@suite), :limit => 10, :template => render("search")} }
    %li{:class => ("active" unless params[:type])}
      =link_to project_suite_path(@suite.project_id,@suite) do
        Overview
    %li{:class => ("active" if params[:type] == "error")}
      =link_to project_suite_path(@suite.project_id,@suite, :type => "error") do
        Errors
        %span.label.label-danger= @suite.total_errors
    %li{:class => ("active" if params[:type] == "failure")}
      =link_to project_suite_path(@suite.project_id,@suite, :type => "failure") do
        Failures
        %span.label.label-warning= @suite.total_failures
    %li{:class => ("active" if params[:type] == "skipped")}
      =link_to project_suite_path(@suite.project_id,@suite, :type => "skipped") do
        Skip
        %span.label.label-info= @suite.total_skip
    %li{:class => ("active" if params[:type] == "passed")}
      =link_to project_suite_path(@suite.project_id,@suite, :type => "passed") do
        Passed
        %span.label.label-success= @suite.total_passed
- if params[:type].present?
  .content-border
    = paginate @cases, :style => "margin-top: 0px"
    %table.table.table-condensed.table-hover
      %thead
        %tr
          %th Name
          %th Class
          %th Time
      %tbody
        - @cases.each do |element|
          %tr
            %td
              = link_to element.name, project_suite_case_path(@suite.project_id,@suite, element), :class => "case-#{element.type}"
              - if element.bug.present?
                %span.glyphicon.glyphicon-link
              - if element.description
                %span.glyphicon.glyphicon-comment
            %td
              = (element.classname unless element.name.start_with? "ContextSuite")
            %td= element.time
            %div{:id => "info-#{element.id}"}
    = paginate @cases
- else
  =render "overview"
