=render "suites/header", :suite => @suite, :project => @project
.bs-callout{:class => "bs-callout-#{@case.type}"}
  - if @case.message
    .pull-right
      - if can? "descriptions", "update", @case
        = link_to "Description", project_suite_case_description_path(@suite.project_id,@suite,@case), :class => "btn btn-default btn-xs", :remote => true
      = link_to "Paste2", paste_project_suite_case_path(@suite.project_id,@suite,@case), :class => "btn btn-default btn-xs" if can? "cases", "paste", @case
      .btn-group.btn-group-xs
        - if can? "tracker", "show", @case
          = link_to( (extract_tracker(@case.bug.try(:tracker)) || "Link to"), project_suite_case_tracker_path(@suite.project_id,@suite,@case), :remote => true, :class => "btn btn-default", :id => :tracker)
          - if can? "tracker", "update", @case
            = link_to edit_project_suite_case_tracker_path(@suite.project_id,@suite,@case), :remote => true, :class => "btn btn-default" do
              %span.glyphicon.glyphicon-pencil
  %h4
    Class:
    = @case.classname

  %p
    Test:
    = @case.name

  #description
    = render "description", :test => @case if @case.description

  - if @case.message
    %pre= @case.message

- if @related_bugs.any?
  %h4 Related bugs:
  .content-border
    =render "bugs/bugs", :bugs => @related_bugs, :columns => [:suite, :bug, :owner, :created]

- if @related_cases.any?
  %h4 Related tests:
  .content-border
    %table.table.table-condensed.table-hover
      %thead
        %tr
          %th Project
          %th Build
          %th Test
          %th Created
      %tbody
        - @related_cases.each do |element|
          %tr
            %td= link_to element.suite.project.name, project_path(element.suite.project)
            %td= link_to element.suite.build, project_suite_path(element.suite.project_id,element.suite)
            %td= link_to element.name, project_suite_case_path(element.suite.project_id, element.suite, element), :class => "case-#{element.type}"
            %td{:style => "width: 1%;", :nowrap => true}= l(element.suite.created_at, :format => "%H:%M / %d.%m.%Y")
