= render "applications/breadcrumbs"

.bs-callout{:class => "bs-callout-#{@case.result.type}"}
  - if @case.result.message
    .pull-right
      = link_to "Paste2", paste_suite_case_path(@suite,@case), :class => "btn btn-default btn-xs" if can? :paste, @case
      .btn-group.btn-group-xs
        - if @case.tracker or can? :track, @case
          = link_to( (extract_tracker(@case.tracker) || "Link to"), suite_case_tracker_path(@suite,@case), :remote => true, :class => "btn btn-default", :id => :tracker)
          - if can? :track, @case
            = link_to edit_suite_case_tracker_path(@suite,@case), :remote => true, :class => "btn btn-default" do
              %span.glyphicon.glyphicon-pencil
  %h4
    Class:
    = @case.classname
  %p
    Test:
    = @case.name
  - if @case.result.message
    %pre= @case.result.message

- if @related_cases.any?
  %h4 Related tests:
  %table.table.table-condensed.table-hover
    %thead
      %tr
        %th Build
        %th Test
        %th Created
    %tbody
      - @related_cases.each do |element|
        %tr
          %td= link_to element.suite.build, suite_path(element.suite)
          %td= link_to element.name, suite_case_path(element.suite, element), :class => "case-#{element.result.type}"
          %td{:style => "width: 1%;", :nowrap => true}= l(element.suite.created_at, :format => "%H:%M / %d.%m.%Y")
