= render "applications/breadcrumbs"

.bs-callout{:class => "bs-callout-#{@case.result.type}"}
  - if @case.result.message
    .pull-right
      = link_to "Paste2", paste_project_suite_case_path(@suite.project_id,@suite,@case), :class => "btn btn-default btn-xs" if can? :paste, @case
      .btn-group.btn-group-xs
        - if @case.bug.present? or can? :track, @case
          = link_to( (extract_tracker(@case.bug.try(:tracker)) || "Link to"), project_suite_case_tracker_path(@suite.project_id,@suite,@case), :remote => true, :class => "btn btn-default", :id => :tracker)
          - if can? :track, @case
            = link_to edit_project_suite_case_tracker_path(@suite.project_id,@suite,@case), :remote => true, :class => "btn btn-default" do
              %span.glyphicon.glyphicon-pencil
  %h4
    Class:
    = @case.classname
  %p
    Test:
    = @case.name
  - if @case.result.message
    %pre= @case.result.message

- if @related_cases.any?
  %h4 Related tests:
  %table.table.table-condensed.table-hover
    %thead
      %tr
        %th Project
        %th Build
        %th Test
        %th Created
    %tbody
      - @related_cases.each do |element|
        %tr
          %td= link_to element.suite.project.name, project_path(element.suite.project)
          %td= link_to element.suite.build, project_suite_path(element.suite.project_id,element.suite)
          %td
            = link_to element.name, project_suite_case_path(element.suite.project_id, element.suite, element), :class => "case-#{element.result.type}"
            - if element.bug.present?
              %br
              = link_to extract_tracker(element.bug.tracker), element.bug.tracker, :target => "_blank"
            %br
          %td{:style => "width: 1%;", :nowrap => true}= l(element.suite.created_at, :format => "%H:%M / %d.%m.%Y")
