.content-header
  %h4 Users

.masthead
  %ul.nav.nav-justified
    %li.search-tab
      %input.typeahead{:placeholder=>"Tap to search", :autocomplete=>"off", :spellcheck=>"false", :dir=>"auto", :data => {:source => search_users_path, :limit => 10, :template => render("search")} }
    %li{:class => ("active" unless params[:type])}
      =link_to users_path do
        All
        %span.label.label-default= User.count
    %li{:class => ("active" if params[:type] == "active")}
      =link_to users_path(:type => "active") do
        Actived
        %span.label.label-success= User.where(:active => true).count
    %li{:class => ("active" if params[:type] == "not_actived")}
      =link_to users_path(:type => "not_actived") do
        Not Actived
        %span.label.label-warning= User.where(:active => false).count
    %li{:class => ("active" if params[:type] == "admin")}
      =link_to users_path(:type => "admin") do
        Administrators
        %span.label.label-info= User.where(:admin => true).count

.content-border
  = paginate @users
  %table.table.table-condensed.table-hover
    %thead
      %tr
        %th
        %th Name
        - if current_user and current_user.admin
          %th Admin
          %th Active
        %th Suites
        %th Last active
        %th Created
        %th Actions
    %tbody
      - @users.each do |user|
        %tr
          %td{:style => "width: 1%;", :nowrap => true}= image_tag gravatar_url(user,22), :class => "gravatar", :width => 22, :height => 22
          %td= link_to_user user
          - if current_user and current_user.admin
            %td= user.admin ? "Yes" : "No"
            %td= user.active ? "Yes" : "No"
          %td= user.suites.count
          %td
            - if user.last_request_at
              = l(user.last_request_at, :format => "%H:%M / %d.%m.%Y")
          %td= l(user.created_at, :format => "%H:%M / %d.%m.%Y")
          %td{:style => "width: 1%;", :nowrap => true}
            = link_to "Edit", edit_user_path(user), :class => "btn btn-info btn-xs" if can? "users", "edit", user
            = link_to "Delete", user_path(user), :method => :delete, :data => {:confirm => "Are you sure?"}, :class => "btn btn-danger btn-xs" if can? "users","destroy", user
  = paginate @users

