=render "header", :user => @user
.tab-content-border
  %ul.nav.nav-tabs
    %li{:class => ("active" if params[:tab]=="overview" or not params[:tab].present? )}
      = link_to "Overview", user_path(@user, :tab => "overview")
    - if @user == current_user
      %li{:class => ("active" if params[:tab]=="personal")}
        = link_to "Personal", user_path(@user, :tab => "personal")
  .tab-content
    .tab-pane.active
      - if can? "users","edit", @user
        .content-tools
          .content-tools-right
            = link_to "Edit profile", edit_user_path(@user), :class => "btn btn-info btn-xs"
      - if params[:tab] == "personal" and @user == current_user
        = render "personal"
      - else
        = render "overview"
