.well
  .row
    .col-lg-1
      = image_tag gravatar_url(@user,64), :class => "gravatar"
    .col-lg-10
      %h3
        = @user.name
        = link_to "edit", edit_user_path(@user)
%h4 Suites
= render "suites/suites", :suites => @suites
%h4 Bugs
= render "bugs/bugs", :bugs => @bugs
%h4 Projects
= render "projects/projects", :projects => @projects
