- if projects.any?
  - if projects.respond_to? :current_page
    = paginate projects, :style => "margin-top: 0px"
  %table.table.table-condensed.table-hover
    %thead
      %tr
        - if columns.include? :name
          %th Name
        - if columns.include? :suites
          %th Suites
        - if columns.include? :members
          %th Members
        - if columns.include? :created
          %th Created
        %th Actions
    %tbody
      - projects.each do |project|
        %tr
          - if columns.include? :name
            %td
              = link_to project.name, project_path(project)
              %br
              - project.features.each do |feature|
                %span.label{:class => (params[:feature] == feature.to_s ? "label-success" : "label-default")}= feature
          - if columns.include? :suites
            %td= link_to project.suites.count, project_suites_path(project)
          - if columns.include? :members
            %td= link_to project.members.count, project_members_path(project)
          - if columns.include? :created
            %td= l(project.created_at, :format => "%H:%M / %d.%m.%Y")
          %td.text-right{:style => "width: 1%;", :nowrap => true}
            - if can? "projects", "destroy", project
              =link_to "Delete", project_path(project), :method => :delete, :data => {:confirm => "Are you sure?"}, :class => "btn btn-danger btn-xs"
            - if can? "projects", "edit", project
              =link_to "Edit", edit_project_path(project), :class => "btn btn-default btn-xs"
  - if projects.respond_to? :current_page
    = paginate projects

- else
  %p.well.text-center{:style => "margin-top: 20px;"}
    No projects
