Choose report to compare
%table.table.table-condensed.table-hover
  %thead
    %tr
      %th Build
      %th Tests
      %th Errors
      %th Failures
      %th Skip
      %th Posted
      %th Actions
  %tbody
    - @suites_to_compare.each do |suite|
      %tr
        %td= link_to suite.build, report_path(suite)
        %td= suite.total_tests
        %td= suite.total_errors
        %td= suite.total_failures
        %td= suite.total_skip
        %td= l(suite.created_at, :format => "%H:%M / %d.%m.%Y")
        %td{:style => "width: 1%;", :nowrap => true}
          =link_to "Choose", report_compare_path(@suite,suite), :class => "btn btn-info btn-xs"
= paginate @suites_to_compare

