%ol.breadcrumb
  %li
    = link_to "Suites", suites_path
  %li
    = link_to @suite.build, suite_path(@suite)
  %li
    = link_to "compare", suite_compares_path(@suite)
  %li.active
    = link_to @compare.build, suite_path(@compare)

%table.table.table-condensed.table-hover
  %thead
    %tr
      %th.text-right{:style => "width: 50%;"}= @suite.build
      %th.text-left{:style => "width: 50%;"}= @compare.build
  %tbody
  - @compares.each do |original, compare|
    %tr
      %td.text-right
        = link_to original.name, suite_case_path(@suite, original), :class => "case-#{original.result.type}" if original
      %td.text-left
        - if compare
          = link_to compare.name, suite_case_path(@compare, compare), :class => "case-#{compare.result.type}" if compare
- if @compares.respond_to? :current_page
  = paginate @compares