.content-header
  %span.glyphicon.glyphicon-folder-close
  =link_to @suite.project.name, project_path(@suite.project)
  \/
  %span.glyphicon.glyphicon-list-alt
  =link_to @suite.build, project_suite_path(@suite.project,@suite)
  \/
  =link_to "compare", project_suite_compares_path(@suite.project_id, @suite)
  \/
  %span.glyphicon.glyphicon-folder-close
  =link_to @compare.project.name, project_path(@compare.project)
  \/
  %span.glyphicon.glyphicon-list-alt
  =link_to @compare.build, project_suite_path(@compare.project,@compare)

.content-border
  - if @diff.respond_to? :current_page
    = paginate @diff
  %table.table.table-condensed.table-hover
    %thead
      %tr
        %th.text-left{:style => "width: 49%;"}
          = link_to @suite.build, project_suite_path(@suite.project_id,@suite)
          %br
          - if @suite.features.any?
            - @suite.features.each do |feature|
              %span.label.label-success= feature
        %th.text-center{:style => "width: 2%;"}
          .glyphicon.glyphicon-transfer
          = @differen
        %th.text-right{:style => "width: 49%;"}
          = link_to @compare.build, project_suite_path(@compare.project_id,@compare)
          %br
          - if @compare.features.any?
            - @compare.features.each do |feature|
              %span.label.label-success= feature
    %tbody
    - @diff.each do |record|
      %tr
        %td.text-right
          = link_to record["name"], project_suite_case_path(@suite.project_id, @suite, record["o_id"]), :class => "case-#{record["o_type"]}" if record["o_type"].present?
        %td.text-center
          .glyphicon.glyphicon-resize-horizontal
        %td.text-left
          = link_to record["name"], project_suite_case_path(@compare.project_id, @compare, record["c_id"]), :class => "case-#{record["c_type"]}" if record["c_type"].present?
  - if @diff.respond_to? :current_page
    = paginate @diff
