%h2 Best builds:
%table.table.table-condensed.table-hover
  %thead
    %tr
      %th Build
      %th User
      %th Tests
      %th Passed
      %th Posted
  %tbody
    - @suites.each do |suite|
      %tr
        %td= link_to suite.build, suite_path(suite)
        %td= link_to suite.user.name, user_path(suite.user)
        %td= suite.total_tests
        %td= suite.total_passed
        %td{:style => "width: 1%;", :nowrap => true}= l(suite.created_at, :format => "%H:%M / %d.%m.%Y")
