!!!
%html
  %head
    %title Hummer
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    = stylesheet_link_tag    "application", :media => "screen", :rel => "stylesheet"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #wrap
      .navbar.navbar-inverse.navbar-fixed-top
        .container
          .navbar-header
            %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            =link_to root_path, :class => "navbar-brand" do
              %span{:class=>"glyphicon glyphicon-home"}
          .navbar-collapse.collapse
            %ul.nav.navbar-nav
              %li{:class => ("active" if request.path.start_with? "/reports")}
                =link_to "Reports", reports_path
              %li
            .pull-right.navbar-right
              -#- unless request.path.start_with? "/login"
              -#  = form_for Session.new, :url => login_path, :html => { :class => "navbar-form navbar-right" } do |f|
              -#    - unless current_user
              -#      .form-group
              -#        = f.text_field :login, :placeholder=>"Login", :class=>"form-control", :size => 15
              -#      .form-group
              -#        = f.password_field :password, :placeholder=>"Password", :class=>"form-control", :size => 15
              -#      %button{:type=>"submit", :class=>"btn btn-success"} Sign in
              -#    - else
              -#      = link_to "Sign out", logout_path, :class=>"btn btn-default"
              = link_to "New report", new_report_path, :class=>"btn btn-default navbar-btn" if current_user
      .container
        - flash.each do |key, value|
          = content_tag :div, :class => "alert alert-#{key}" do
            %button.close{:type=>"button", :data => {:dismiss=>"alert"}}= "&times;"
            = value
        = yield
    #footer
      .container
        %p.text-muted.credit
          Hummer. Application for analyze tempest reports.
