!!!
%html
  %head
    %title Hummer
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    = stylesheet_link_tag    "application", :media => "screen", :rel => "stylesheet"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #wrap
      .navbar.navbar-inverse.navbar-fixed-top
        .container
          .navbar-header
            %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            =link_to root_path, :class => "navbar-brand" do
              %span{:class=>"glyphicon glyphicon-home"}
          .navbar-collapse.collapse
            %ul.nav.navbar-nav
              %li{:class => ("active" if request.path.start_with? "/reports")}
                =link_to "Reports", reports_path
              %li
            %form.navbar-form.navbar-right
              .form-group
                %input{:type=>"text", :placeholder=>"Login", :class=>"form-control"}
              .form-group
                %input{:type=>"password", :placeholder=>"Password", :class=>"form-control"}
              %button{:type=>"submit", :class=>"btn btn-success"} Sign in
              = link_to "New report", new_report_path, :class=>"btn btn-info"
      .container
        = yield
    #footer
      .container
        %p.text-muted.credit
          Hummer. Application for analyze tempest reports.
