!!!
%html
  %head
    %title Hummer
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    = stylesheet_link_tag    "application", :media => "screen", :rel => "stylesheet"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #wrap
      .navbar.navbar-inverse.navbar-fixed-top
        .container
          .navbar-header
            %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            =link_to root_path, :class => "navbar-brand" do
              %span{:class=>"glyphicon glyphicon-home"}
          .navbar-collapse.collapse
            %ul.nav.navbar-nav
              %li{:class => ("active" if request.path.start_with? "/suites")}
                =link_to "Suites", suites_path
              %li{:class => ("active" if request.path.start_with? "/users")}
                =link_to "Users", users_path
            .pull-right.navbar-right
              = link_to "Login", login_path, :class=>"btn btn-default navbar-btn" if can? :create, Session and not request.path.start_with? "/login"
              = link_to "Sign up", signup_path, :class=>"btn btn-success navbar-btn" if can? :create, User and not request.path.start_with? "/signup"
              = link_to "New suite", new_suite_path, :class=>"btn btn-default navbar-btn" if can? :create, Suite
              - if current_user
                %a.user-menu
                  = link_to user_path(current_user) do
                    = image_tag gravatar_url(current_user,32), :class => "gravatar"
                = link_to "Logout", logout_path, :class=>"btn btn-default navbar-btn" if can? :destroy, Session
      .container
        - flash.each do |key, value|
          = content_tag :div, :class => "alert alert-#{key}" do
            %button.close{:type=>"button", :data => {:dismiss=>"alert"}}= "&times;"
            = value
        = yield
    #footer
      .container
        %p.text-muted.credit
          Hummer. Application for analyze tempest reports.
    #modal.modal.fade{:tabindex=>-1, :role => "dialog", :aria => {:labelledby =>"myModalLabel",  :hidden=>"true"}}
      .modal-dialog
        .modal-content

